.up-arrow {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.4rem;
  background-repeat: no-repeat;
  background-image: url("./up-arrow.svg");
  float: right;
}

.down-arrow {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.4rem;
  background-repeat: no-repeat;
  background-image: url("./down-arrow.svg");
  float: right;
}

.circle {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.4rem;
  background-repeat: no-repeat;
  background-image: url("./circle.svg");
  float: right;
}

.flag {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0.4rem;
  background-repeat: no-repeat;
  background-image: url("./flag.svg");
  float: right;
}
